.topBar {
    background-color: #A708A7;
    height: 50px;
    position: relative;
}

.topLogo {
    width: 40px;
    height: 40px;
    background-color: lightgray; 
    margin: 15px;
}

.topText {
    color: white;
    font-size: 1.3em;
}

@media only screen and (max-width: 320px) {
    .topText {
        font-size: 0.9em;
    }
}

@media only screen and (min-width: 768px) {
    .topBar {
        background-color: #A708A7;
        height: 75px;
        box-shadow: 0px 5px 7px rgb(145, 144, 144);
    }
    .topText {
        font-size: 1.5em;
    }
}