.navBar {
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content: space-evenly;
    border-top: 1px solid rgb(100, 100, 100);
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
}

.navFlexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navIconBtn {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 3px;
    background-color: transparent;
    font-size: 0.8em;
    cursor: pointer;
    color: black;
  }

.navIconBtn:hover, .navIconBtn:focus {
    outline: none;
    background-color: lightgray
}

.navIcon {
    color: rgb(43, 43, 43);
}

.activeNavIcon {
    color: #A708A7;
}

@media only screen and (min-width: 768px) {

}


@media only screen and (min-width: 992px) {
    .navBar {
        padding-top: 25px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 150px;
        height: calc(100vh - 75px);
        border-right: 1px solid rgb(100, 100, 100);
        border-top: none;
     
    }

    .navFlexContainer {
        flex-direction: row;
        justify-content: center;
    }

    .navIconBtn {
        display: flex;
        justify-content: flex-start;
        width: 90px;
        margin-bottom: 20px;
       
    }

    .navIcon {
        margin-right: 5px;
      }
}