.navBar {
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content: space-evenly;
    border-top: 1px solid rgb(100, 100, 100);
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    font-size: 0.9em;
}

.navFlexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navIconBtn {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 3px;
    background-color: transparent;
    font-size: 0.8em;
    cursor: pointer;
    color: black;
  }

.navIcon {
    color: rgb(43, 43, 43);
}

.activeNavIcon, .activeNavIcon .navIcon {
    color: #A708A7;
}

@media only screen and (min-width: 992px) {
    .navBar {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
        border-right: 1px solid rgb(100, 100, 100);
        border-top: none;
        position: static;
        font-size: 1.1em;
    }

    .navBtnContainer {
        width: 100%;
        cursor: pointer;
        padding: 15px;
    }

    .navFlexContainer {
        flex-direction: row;
        justify-content: flex-start;
        width: 110px;
    }

    .navIconBtn {
        display: flex;
        justify-content: center;
        width: 100%;
        border-radius: 0px;
        padding: 15px;
    }

    .navIconBtn:hover, .navIconBtn:focus {
        background-color: rgb(231, 231, 231)
    }

    .navIcon {
        margin-right: 10px;
      }
}