
.appBodyContainer {
    height: 100%;
}

.middleColumn {
    display: flex;
    justify-content: center;
}

.rightColumn {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
}

.menuBtnContainer {
    width: 100%;
}

.menuBtn {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    border-radius: 0px;
    border-bottom: 1px solid #c4c4c4;
    padding: 20px 35px 20px 20px;
    width: 100%;
}

.menuBtn:hover, .menuBton:focus {
    background-color: #C4C4C4;
}

.menuBtnExpanded {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid #c4c4c4;
    padding: 20px 20px 20px 40px;
}

.menuBtnExpanded p {
    font-size: 0.9em;
}

@media only screen and (min-width: 768px) {
    .menuBtnContainer {
        width: 100%;
    }
}

@media only screen and (max-width: 992px) {
    .hideOnMobile {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    .appBodyContainer {
        display: grid;
        grid-template-columns: 150px auto 300px;
    }

    .rightColumn {
        position: static;
        border-left: 1px solid rgb(100, 100, 100);
        width: 100%;
    }
}

