.appBodyContainer {
    height: 100%
}

.middleColumn {
    display: flex;
    justify-content: center;
}

.rightColumn {
    position: absolute;
    width: 100vw;
    top: 0;
    border-left: 1px solid rgb(100, 100, 100);
}

.displayNone {
    display: none;
}


@media only screen and (min-width: 992px) {
    .appBodyContainer {
        display: grid;
        grid-template-columns: 150px auto 300px;
    }

    .rightColumn {
        position: static;
        width: 300px;
        border-left: 1px solid rgb(100, 100, 100);
    }
}

