/* Utilities */

.flexCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexRow {
  flex-direction: row;
}

.iconBtn {
  align-self: flex-start;
  border: 1px solid transparent;
  padding: 3px;
  font-size: 1em;
  cursor: pointer;
  color: rgb(43, 43, 43);
}

.iconBtn:hover, .iconBtn:focus, .iconBtn:active {
   color: #A708A7;
}

.icon {
  margin-bottom: -5px;
}

.popupForm {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.popupFormNav {
  margin-bottom: 20px;
  padding: 20px;
}

.displayNone {
  display: none;
}

.formSubmitBtn {
  border: 1px solid #A708A7;
  background-color: #A708A7;
  color: white;
  padding: 10px;
  width: 275px;
}

.formSubmitBtn:hover, .formSubmitBtn:active, .formSubmitBtn:focus {
  background-color:#e90ee9;
}

/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.2em;
}

input {
  margin: 0px 0px 25px 0px;
  outline: none; 
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid black;
  padding: 7px;
  font-size: 1.1em;
  color: black;
  width: 275px;
}

input:focus {
  background-color: rgb(235, 235, 235);
}

label {
  color: gray;
}

button {
  border: none;
  font-size: 1em;
  background-color: white;
  cursor: pointer;
}

button:hover, button:active, button:focus {
  outline: none;
}

@media only screen and (max-width: 280px) {
  .formSubmitBtn {
    width: 250px;
  }

  input {
    width: 250px;
  }
}