/* Utilities */

.flexCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexRow {
  flex-direction: row;
}

.iconBtn {
  align-self: flex-start;
  border: 1px solid transparent;
  padding: 3px;
  background-color: transparent;
  font-size: 0.9em;
  cursor: pointer;
  color: rgb(43, 43, 43);
}

.iconBtn:hover, .iconBtn:focus {
  outline: none;
  color: rgb(189, 189, 189);
}

.icon {
  margin-bottom: -4px;
}

.popupForm {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: white;
  padding: 10px;
}

.popupformNav {
  margin-bottom: 30px;
  background-color: red;
}

.displayNone {
  display: none;
}

.formSubmitBtn {
  border: 1px solid #A708A7;
  background-color: white;
  padding: 10px;
}

/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.1em;
}

input {
  margin: 7px 0px 25px 0px;
  font-size: 0.9em;
  border: none;
  border-bottom: 1px solid black;
  padding: 0px;
  color: black;
}

label {
  color: gray;
}

input:focus {
  outline: none;
}

button {
  font-size: 0.9em;
  border-radius: 5px;
}
