/* Utilities */

.flexCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexRow {
  flex-direction: row;
}

.iconBtn {
  padding: 6px;
  cursor: pointer;
  color: rgb(43, 43, 43);
  border: 1px solid transparent;
  margin: 1px;
  font-size: 1em;
}

.icon {
  margin-bottom: -6px;
}

.iconBtn:hover, .iconBtn:focus, .iconBtn:active {
  background-color: rgb(231, 231, 231)
}

.popupForm {
  width: 100%;
  min-height: 100%;
  background-color: white;
  padding: 20px;
  position: absolute;
}

.popupFormNav {
  margin-bottom: 10px;
}

.formValidationText {
  color: red;
  padding: 5px;
  max-width: 250px;
  text-align: center;
  margin: 20px;
}

.transparent {
  color: transparent;
  background-color: transparent;
}

.red {
  color: red;
}

.green {
  color: green;
}

.displayNone {
  display: none;
}

.formSubmitBtn {
  border: 1px solid #A708A7;
  background-color: #A708A7;
  color: white;
  padding: 10px;
  width: 275px;
}

.formSubmitBtn:hover, .formSubmitBtn:active, .formSubmitBtn:focus {
  background-color:#ac57ac;
}

.displayNone {
  display: none;
}

/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-size: 1.1em;
}

input {
  margin: 0px 0px 25px 0px;
  outline: none; 
  border-radius: 0px;
  border: 1px solid transparent;
  border-bottom: 1px solid black;
  padding: 5px;
  color: black;
  width: 275px;
  font-size: 1.1em;
}

input:focus {
  border: 1px solid #A708A7;
  border-radius: 5px;
  box-shadow: 0px 0px 4px #A708A7
}

label {
  color: rgb(90,90,90);
}

button {
  border: none;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  font-size: 1.1em;
}

p {
  font-size: 1.1em;
}

button:hover, button:active, button:focus {
  outline: none;
}

@media only screen and (max-width: 280px) {
  .formSubmitBtn {
    width: 250px;
  }

  input {
    width: 250px;
  }
}

@media only screen and (min-width: 992px) {
  .popupForm {
    position: static;
  }
}