/* Utilities */
.linkBtn {
    margin: 20px;
    border: none;
}
  
.linkBtn:hover, .linkBtn:focus {
    outline: none;
    text-decoration: underline;
    background-color: white;
}

.invalidText {
    color: red;
    background-color: white;
    padding: 5px;
    max-width: 250px;
    text-align: center;
    margin-bottom: 20px;
}

.loginScreenBtn {
    background-color: white;
    color: black;
    padding: 10px;
    width: 275px;
    margin: 15px;
}

.loginScreenBtn:hover, .loginScreenBtn:active, .loginScreenBtn:focus {
    background-color: lightgray;
  }

.loginScreenFormTitle {
    margin: 10px 0px 30px 0px;
    font-size: 1.5em;
  }

  .placeholderImg {
      width: 40px;
      height: 40px;
      background-color: #A708A7;
      color: white;
  }

  .formInputContainer {
    padding: 20px;
  }

  .formContainer {
    width: 100vw;
    height: 100vh;
  }


/*end utilities*/

.loginScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #A708A7;  
    height: 100vh;
    width: 100vw;
    padding: 15px;
}

.logoPlaceholderLogin {
    width: 50px;
    height: 50px;
    background-color: white;
    margin-top: 30px;
}

.loginScreenTitle {
    margin: 10px;
    color: white;
    text-align: center;
}

.splashBtnContainer {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 768px) {
    .logoPlaceholderLogin {
        width: 75px;
        height: 75px;
    }

    .formContainer {
        width: 425px;
        height: auto;
        border: 1px solid black;
        padding: 10px;
    }
}

@media only screen and (max-width: 280px) {
    .loginScreenBtn {
        width: 250px;
    }
}

@media only screen and (orientation: landscape) and (max-width: 812px) {
    .formContainer {
        width: 100vw;
        height: 100vh;
        border: none;
        padding: 10px;
    }
}
