/* Utilities */
.linkBtn {
    margin: 10px 10px -10px 10px;
    border: none;
    font-size: 0.9em;
}
  
.linkBtn:hover, .linkBtn:focus {
    outline: none;
    text-decoration: underline;
    background-color: white;
}

.loginScreenBtn {
    background-color: white;
    color: black;
    padding: 10px;
    width: 275px;
    margin: 15px;
}

.loginScreenBtn:hover, .loginScreenBtn:active, .loginScreenBtn:focus {
    background-color: rgb(231, 231, 231);
  }

.loginScreenFormTitle {
    margin-bottom: 0px;
    font-size: 1.5em;
  }

.placeholderImg {
      width: 40px;
      height: 40px;
      background-color: #A708A7;
      color: white;
      margin-bottom: 20px;
  }

.formContainer {
    width: 100vw;
    height: 100vh;
  }

.loginForm {
      width: 100vw;
      min-height: 100vh;
  }

/*end utilities*/

.loginScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #A708A7;  
    min-height: 100vh;
    width: 100vw;
    padding: 15px;
    overflow: auto;
}

.logoPlaceholderLogin {
    width: 50px;
    height: 50px;
    background-color: white;
}

.loginScreenTitle {
    margin: 10px;
    color: white;
    text-align: center;
}

.formContainer p {
    text-align: center;
    font-size: 0.9em;
  }

  @media only screen and (max-width: 280px) {
    .loginScreenBtn {
        width: 250px;
    }
}

@media only screen and (min-width: 768px) {
    .logoPlaceholderLogin {
        width: 75px;
        height: 75px;
    }

    .formContainer {
        width: 375px;
        height: auto;
        border: 1px solid black;
        padding: 10px 10px 00px 10px;
    }

    .loginScreen {
        justify-content: center;
    }

    .loginScreenTitle {
        margin-bottom: 100px;
        font-size: 2.5em;
    }
}

@media only screen and (orientation: landscape) and (max-width: 812px) {
    .formContainer {
        width: 100vw;
        min-height: 100vh;
        border: none;
        padding: 10px;
    }
}
